//
// #artContainer{
//   border: 2px solid black;
//   width: 30%;
//   // float: left;
//   // display: inline-block;
//   margin: auto;
// }
//
// #produceContainer{
//   width: 70%;
//   height: 200px;
//   float: right;
//   display: inline-block;
//   border: 2px solid black;
// }
// #craftContainer{
//   width: 30%;
//   float: right;
//   // display: inline-block;
//   border: 2px solid black;
// }
// #miscContainer{
//   width: 30%;
//   // float: right;
//   // display: inline-block;
//   border: 2px solid black;
// }
//
// .large-6{
//   // display: inline-block;
//   margin: auto;
// }
.MainContainer{
  background-color: #769481;
}
.col-lg-12{
  // background-color: blue;
}
.page-header{
font-family: 'Cookie', cursive;}
.thumbnail{
  height: 300px;
}
img{
  width: 300px;
}
#exploreItem{
  background-image: url("images/produce.jpg");
  width: 30%;
  border: 2px solid gray;
  height: 300px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}
.col-sm-4{
  background-image: url("images/produce.jpg");

}
#work{
  height: 400px;
}
