.exploreContainer{
  background-color: #E6E1E8;
  height: 1000px;
        margin: 0px;
        text-align: center;
}
body{
  background-color: #B1CFCD;
}
.produce{
  width: 35%;
  border: 2px solid black;
  height: 300px;
display: inline-block;
}
.handcrafted{
  width: 35%;
  border: 2px solid black;
  height: 300px;
  display: inline-block;
      margin-left: 66px;
}
.art{
  width: 35%;
  border: 2px solid black;
  height: 300px;
  display: inline-block;

}
.misc{
  width: 35%;
  border: 2px solid black;
  height: 300px;
  display: inline-block;
    margin-left: 66px;
}
