.LoginContainer {
  background-image: url("../images/green-crop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
height: 1000px;

  }
p{
  font-family: 'Lato', sans-serif;
  color:white;
}
.text-center{
  font-family: 'Lato', sans-serif;
  color: white;
}
.forgetPassword{
font-family: 'Lato', sans-serif;
  color: white;
}
#loginBox{
  position: relative;
  bottom: -2%;
}
.logo{
    width: 430px;
   -webkit-flex-wrap: wrap;

}
.blah {
  color: red;
}

.form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    position: relative;
left: -4%;
bottom: -10%;
  }
.bottomButton{
  background-color: blue;
}
#newUser{
  color: white;
  width: 161%;

}
#signIn{
      width: 161%;
}
#password{
      width: 161%;
}
#email {
      width: 161%;
}
