
// .has-form {
//   position: absolute;
//   top: 0;
//   left: 6rem; // adjust distance from left here
//   min-width: 14rem; // adjust width here
//
//   @media only screen and (max-width: 40em) {
//     min-width: 10rem;
//     top: 0.5rem;
//
//     .button {
//       height: 1.85rem;
//     }
//   }
// }
#icon{
  width: 78px;
position: relative;
right: -127%;
top: -15px;
}


.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.topNavcontainer{
      height: 50px;
}
#navIcon{
  width: 53px;
margin-left: 241px;
position: relative;
right: -78%;
}
#navbar-brand-centered{
  color:white;
}
