
    <!-- <div class="large-6 columns">
      <div class="row">
        <div class="small-8 columns">
        </div>
        <div class="small-4 columns">
        </div>
      </div>
    </div>
    <div id = "artContainer" class="large-6 columns">
      <a href="#art"><h3>Art</h3></a>

    </div>

    <div class="large-6 columns">
        <div class="small-4 columns">
          <div id = "produceContainer" class="large-6 columns">
            <a href="#produce"><h3>Produce</h3></a>
          </div>
        </div>
    </div> -->


    <!-- <div class="large-6 columns">
      <div class="row">
        <div class="small-8 columns">
          <div id = "craftContainer" class="large-6 columns">
            <a href="#handCrafted"><h3>hand crafted</h3></a>
          </div>
        </div>
        <div class="small-4 columns">
        </div>
      </div>
    </div> -->


    <!-- <div class="large-6 columns">
      <div class="row">
        <div class="small-8 columns">
        </div>
        <div class="small-4 columns">
        </div>
      </div>
    </div>
    <div id = "miscContainer" class="large-6 columns">
      <a href="#misc"><h3>misc</h3></a>

    </div> -->
    <div class="col-lg-12">
                   <h1 class="page-header">Explore</h1>
               </div>


               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                   <a class="thumbnail" href="#art">
                     <h1>ART</h1>
                       <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                   </a>
               </div>
               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                 <h1>PRODUCE</h1>
                   <a class="thumbnail" href="#produce">
                       <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                   </a>
               </div>
               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                 <h1>HANDCRAFTED</h1>
                   <a class="thumbnail" href="#handCrafted">
                       <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                   </a>
               </div>
               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                 <h1>MISC</h1>
                   <a class="thumbnail" href="#misc">
                       <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                   </a>
               </div>
