<nav  class="top-bar" data-topbar role="navigation" style="height:3.8rem; background:#40593A">
  <ul class="title-area" style="text-align:center; background:#40593A">
    <li class="name" style="text-align:center; background:#40593A">
      <h1 class="blah" style="text-align:center"><a href="#">Welcome {{username}}!</a></h1>
    </li>

    <li class="has-form">
      <div class="row collapse">
        <!-- <div class="large-8 small-9 columns">
          <input type="text" placeholder="Find Stuff">
        </div>
        <div class="large-4 small-3 columns">
          <a href="#" class="alert button expand">Search?</a>
        </div> -->
      </div>
      <a href="#explore"><img id = "icon" src="/images/marketdirecticon.svg" alt="" /></a>

    </li>

     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <a href="">Nav</a>
          <li><a href="#shoppinglist">Shopping List</a></li>
          <li><a href="#explore">Explore</a></li>
          <li><a href="#inventory">inventory</a></li>
          <li><a href="#login">Logout</a></li>

    </ul>

    <!-- Left Nav Section -->
    <ul class="left">

    </ul>
  </section>
</nav>
