<div class="addinventory" ng-show="showme">

      <input type="text" ng-model="Cat" placeholder="Item Category">
      <input type="text" ng-model="Name" placeholder="Item Name">
      <input type="text" ng-model="Desc" placeholder="Item Description">
      <input type="text" ng-model="Quant" placeholder="Item Quantity">
      <input type="text" ng-model="Price" placeholder="Item Price">
      <input type="file" name="photo">
      <input type="button" ng-click = "inventories()"value="Add New Item">

</div>
