
<div class="row bump">
   <div class="small-12 large-6 columns">
      <div class="row">
         <div class="profile-card">
            <div class="small-12 large-4 columns">
               <a href="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg">
                  <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="profile image"> </a>
            </div>
            <div class="small-12 large-8 columns">
               <h4>John Doe <span>President of XPTO</span></h4>
               <p><i class="fi-mail"></i><span> smtsmt@smt.com</span></p>
               <p><i class="fi-social-twitter"></i>@username</p>
               <p><i class="fi-web"></i>thisisme@myemai.com</p>
            </div>
            <div class="row collapse">
               <ul class="button-group even-3">
                  <li><a href="#" class="button"> Followers <span>432 </span></a></li>
                  <li><a href="#" class="button"> Following <span>432 </span></a></li>
                  <li><a href="#" class="button"> Views <span>432 </span></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
