
    <div class="large-6 columns">
      <div class="row">
        <div class="small-8 columns">
        </div>
        <div class="small-4 columns">
        </div>
      </div>
    </div>
    <div id = "artContainer" class="large-6 columns">
      <a href="#art"><h3>Art</h3></a>

    </div>

    <div class="large-6 columns">
      <div class="row">
        <div class="small-8 columns">
        </div>
        <div class="small-4 columns">
        </div>
      </div>
    </div>
    <div id = "produceContainer" class="large-6 columns">
      <a href="#produce"><h3>Produce</h3></a>

    </div>

    <div class="large-6 columns">
      <div class="row">
        <div class="small-8 columns">
        </div>
        <div class="small-4 columns">
        </div>
      </div>
    </div>
    <div id = "craftContainer" class="large-6 columns">
      <a href="#handCrafted"><h3>hand crafted</h3></a>

    </div>

    <div class="large-6 columns">
      <div class="row">
        <div class="small-8 columns">
        </div>
        <div class="small-4 columns">
        </div>
      </div>
    </div>
    <div id = "miscContainer" class="large-6 columns">
      <a href="#misc"><h3>misc</h3></a>

    </div>
