
<!-- Navigation -->
<nav id = "nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
       <!-- Brand and toggle get grouped for better mobile display -->
       <div class = "topnav"class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">
           </a>
       </div>
       <img id = "navicon" src="/images/navbaricon.svg" alt="" />

       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
               <li>
                   <a href="#profile" ng-click="myStyle={background:'red'}">profile</a>
               </li>
               <li>
                   <a href="#explore">explore</a>
               </li>
               <li>
                   <a href="#shoppinglist">shopping list</a>
               </li>
               <li>
                   <a href="#login">logout</a>
               </li>
           </ul>
       </div>
   </div>
</nav>
<div class="shoppingContainer">



<ul class="list-group" ng-repeat = "ShopItem in ShopItems">
  <li class="list-group-item">{{ShopItem.name}}</li>
  <li class="list-group-item">{{ShopItem.price}}</li>
  <li class="list-group-item">{{ShopItem.description}}</li>

</ul>
</div>
