<!-- <div class="paperList">
  <h1 class = "shoppingList">Shopping List</h1>
  <ul class = "itemList" ng-repeat = "ShopItem in ShopItems">
    <li>
     <h3>{{ShopItem.category}}</h3>
     <h4>{{ShopItem.price}}</h4>
     <h4>{{ShopItem.description}}</h4>
    </li>
  </ul>
</div> -->






<ul class="list-group" ng-repeat = "ShopItem in ShopItems">
  <li class="list-group-item">{{ShopItem.category}}</li>
  <li class="list-group-item">{{ShopItem.price}}</li>
  <li class="list-group-item">{{ShopItem.description}}</li>

</ul>
